@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/pro-text/SFProText-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/pro-text/SFProText-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/pro-text/SFProText-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/pro-text/SFProText-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/pro-text/SFProText-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/pro-text/SFProText-Regular.svg') format('svg'); /* Legacy iOS */
  }


@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/pro-display/SFProDisplay-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/pro-display/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/pro-display/SFProDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/pro-display/SFProDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/pro-display/SFProDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/pro-display/SFProDisplay-Regular.svg') format('svg'); /* Legacy iOS */
}








body {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	padding : 0;
	margin: 0;
	letter-spacing: 0.03em;
    font-size: 13px;
    width: 100%;

}

menu {
    padding: 0px;
    margin: 0px;
}


div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

a {
	color:#000
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.space-between {
	justify-content: space-between;
}


/*------------header----------------*/

.header {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

.header__info {
    background: #FED600;
    margin-top: 12px;
}

.header__info-line {
    font-weight: 600;
    justify-content: space-between;
    height: 34px;
    align-items: center;
    display: flex;
}

.shadow-hamburger {
    display: none;
}

.select-city:hover, .tel:hover {
    color:#D2001C;
}

.header__info-connect {
    height: 34px;
    align-items: center;
}

.header__info-connect .offer-link {
    height: 100%;
    align-items: center;
    margin-right: 36px;
    padding: 0px 5px;
}

.header__info-connect .offer-link_1 {
    display: inline-flex;
}

.header__info-connect .offer-link_2 {
    display: inline-flex;
}


.offer-link a:hover {
    color: red;
}

.header__info-connect .offer-link:active {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    background-color:#fff;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header__btn {
    background-color: transparent;
    border: none;
}

.select-city {
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
    outline:none;
    font-weight: 600;
    margin-right: 25px;
}

.header__info-text {
    margin-left: 20px;
}

.header__telegramm {
    margin-right: 19px;
}

.header__skype {
    margin-right: 19px; 
}

.header__info-icon a {
    padding: 3px;
    border-radius: 50%;
}

.header__info-icon a:active {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    background-color:#fff;
}

.header__info-icon a:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.header__search-offer {
    align-items: center;
    justify-content: space-between;
}

.header__logo-offer {
    margin-top: 16px;
}

.header__logo-text {
    font-style: italic;
}

.header__logo-text span {
    color:#D2001C;
}

.header__offer-marker {
    width: 105px;
    height: 60px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.header__offer-marker img {
    padding: 5px 12px;
}

.header__input {
    width: 521px;
    height: 44px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__input-search {
    width: 350px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 16px;
    
}

.header__input-search::placeholder {
    color: #9E9E9E;
}

.header__button-search {
    margin-right: 4px;
    width: 75px;
    height: 34px;
    border: 2px solid #D2001C;
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
}

.header__button-search:hover {
    background-color: #D2001C;
    color: #fff;
}

.header__button-search:active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
}

.shadow-search-icon {
    display: none;
}

.header__enter-lk :hover {
    color: #D2001C;
}

.header__enter-lk span {
    margin-left: 21px;
}

.header__enter-lk-elem {
    position: relative;
}

.enter {
    position: absolute;

}

.arrow {
    position: absolute;
    top: 5px;
    left: -5px;
}

.offer-basket {
    position: relative;
    top: 8px;
}

.basket {
    position: absolute;
    top: 0;
    left: 0;
}

.roll-basket-1 {
    position: absolute;
    top: 17px;
    left: 6px;
}

.roll-basket-2 {
    position: absolute;
    top: 17px;
    left: 11px;
}

.header__basket {
    width: 160px;
    background: #D2001C;
    border-radius: 4px;
    padding-left: 18px;
    cursor: pointer;
    border:none;
}

.header__basket:hover {
    background:#FED600;
    color:#D2001C;
}

.header__basket:active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
}



.header__basket span {
    padding: 9px 0px;
    display: block;
    font-size: 13px;
    margin-left: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.header__menu {
    margin-top: 13px;
}

.header__menu::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color:#BDBDBD;
    margin-top: 23px;
}




.header__menu-selector {
    justify-content: space-between;
    display: flex;
}

.header__select-item {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all 0.5s ease;
    position: relative;
}

.header__select-item:hover {
    background-color:#FED600
}

.header__menu-links {
    display: flex;
    justify-content: space-between;
}

.header__menu-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
}

.header__menu-link:hover {
    color:#D2001C;
}

.header__select-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    display: flex;
    align-items:center;
}

.header__select-btn img {
    margin-left: 4px;
}








.offer-idea {
    margin-top: 65px;
    margin-bottom: 70px;
}

.team-img {
    width: 100%;
}

.offer-idea__main {
    margin-top: 40px;
    display: flex;
}

.offer-idea__main-work {
    margin-right: 187px;
}

.offer-idea__main-title {
    font-family: 'SF Pro Display';
    font-size: 27px;
    font-weight: 500;
    width: 340px;
}

.offer-idea__main-btn {
    background: #D2001C;
    border-radius: 4px;
    width: 280px;
    padding: 12px 0;
    font-family: 'SF Pro Text';
    font-size: 16px;
    color:#fff;
    border:none;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
}

.offer-idea__main-btn:hover {
    background:#FED600;
    color:#D2001C;
}

.offer-idea__main-btn:active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
}

.offer-idea__main-text {
    letter-spacing: -0.7px;
    color: #C4C4C4;
    font-size: 14px;
    font-family: SF Pro Text;
    font-weight: 500;
    width: 280px;
}

.offer-idea__main-paragraph {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.7px;
    color: #4D4D4D;
    margin-bottom: 20px;
}

.red-word {
    color:#D2001C;;
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #D2001C;;
}

.red-word:hover {
    color: #000;
}





.see {
    margin-bottom: 70px;
}

.see__offer-block {
    align-items:center;
    margin-bottom: 50px;
    display: flex;
}

.see__links a:hover {
    color: #000;
}

.see__offer-title {
    width: 375px;
    margin-right: 22px;
}

.see__title {
    font-size: 24px;
    font-family: 'SF Pro Display';
    font-weight: 500;
}

.see__line {
    display: block;
    content: '';
    height: 1px;
    opacity: 0.1;
    background-color: #000000;
    width: 100%;
    margin-top: 5px;
}

.see__link {
    font-family: SF Pro Display;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #D2001C;
}

.see__link span {
    border-bottom: 1px solid #D2001C;
}

.see__link img {
    margin-left: 15px;
    border-bottom:none;
}

.see__link_1 {
    margin-right: 129px;
}

.see__link_2 {
    margin-right: 158px;
}




.footer {
    padding-bottom: 169px;
    padding-top: 70px;
    background: #F9F9F9;
}

.footer__offer {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 54px;
}

.footer__title {
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #222222;
}

.footer__button {
    border: 1px solid #E5E5E5;
    border-radius:5px;
    position: relative;
}

.footer__button::after {
    display: block;
    content: '';
    background-color: #E5E5E5;
    height: 48px;
    width: 1px;
    top: 0;
    position: absolute;
    left: 50%;
}

.footer__arrow {
    width: 9px;
    height: 17px;
    margin-top: 5px;
}

.footer__btn {
    background: transparent;
    border: none;
    width: 40px;
    cursor: pointer;
}

.footer__btn:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    background:  #FED600;
}

.footer__btn-prev {
    padding: 11px 18px 11px 13px;
}

.footer__btn-next {
    padding: 11px 13px 11px 18px;
}

.footer__video {
    justify-content: space-between;
}

.footer__video-link {
    width: 548px;
    height: 319px;
}
.basket-small {
    display: none;
}

.header-select-menu  {
    display: none;
}




/* Media Queries */


/* 992 - 1200 px */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .tel {
        display: none;
    }
    .header__info-text {
        display: none;
    }
    /* .header__info-connect .offer-link_2 {
        display: none;
    } */
    .header__logo-text {
        margin-left: 10px;
    }
    .header__offer-marker {
        display: none;
    }
    .header__input {
        width: 400px;
    }
    .offer-idea__main-work {
        margin-right: 20px;
    }
    .header__menu-selector {
        flex-wrap: wrap;
        justify-content: center;
    }
    .see__link_1 {
        margin-right: 10px;
    }
    .see__link_2 {
        margin-right: 10px;
    }
    .footer__video-link {
        width: 800px;
        height: 440px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .footer__video {
        display: block;
    }

}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header__logo-text {
        display: none;
    }
    .header__input-search {
        font-size: 9px;
    }
    .header__input {
        width: 300px;
    }
    .header__menu-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__select-btn {
        font-size: 14px;
    }
    .header__menu-links-li {
        padding: 20px;
        font-size: 14px;
    }
    .see__link {
        display: block;
        margin-bottom: 30px;
        font-size: 16px;
    }
    .footer__video-link {
        width: 600px;
        height: 340px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__info-connect .offer-link_2 {
        display: none;
    }
    .header__input {
        display: none;
    }
    .shadow-search-icon {
        display: block;
    }
    .fa {
        font-size: 20px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .header__info-workTime {
        display: flex;
        align-items:center;
    }
    .shadow-hamburger {
        display: block;
        margin-right: 10px;
    }
    .header__menu-links {
        display: none;
    }
    .header__menu-selector {
        display: none;
    }
    .header__search-offer {
        padding-top: 20px;
    }
    .offer-idea__main {
        display: block;
    }
    .offer-idea__main-paragraphs {
        margin-top: 30px;
    }
    .footer__video-link {
        width: 400px;
        height: 220px;
    }
    .footer__offer {
        justify-content: space-around;
    }

}
/* 444 - 576 px */
@media screen and (max-width: 576px) {
    .container {
        max-width: 400px;
    }
    .tel {
        display: block;
    }
    .header__info-connect .offer-link_1 {
        display: inline-flex;
        display: none;
    }
    .tel {
        font-size: 12px;
    }
    .header__telegramm {
        margin-right: 10px;
    }
    .header__skype {
        margin-right: 10px;
    }
    .header__enter-lk {
        margin-left: 40px;
    }
    .header__basket {
        display: none;
    }
    .shadow-search-icon {
        margin-left: 25px;
    }
    .select-city {
        font-size: 11px;
    }
    .offer-idea__main-title {
        font-size: 23px;
        
    }
    .see__offer-block {
        display: block;
    }
    .see__link {
        font-size: 14px;
    }
    .footer__title {
        font-size: 25px;
    }
    .footer__video-link {
        width: 290px;
        height: 200px;
    }
    .basket-small {
        margin-left: auto;
        display:block;
    }
    .basket-small, .fa-search {
        background-color:transparent;
        border:none;
        cursor: pointer;
    }
    .fa-shopping-cart, .fa-search:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
}
/* 320 - 576 px */
@media screen and (max-width: 444px) {
    .container {
        max-width: 300px;
    }
    .tel {
        display: block;
    }
    .header__info-connect .offer-link_1 {
        display: inline-flex;
        display: none;
    }
    .header__info-icon {
        display: none;
    }
    .header__enter-lk {
        display: none;
    }
    .header__basket {
        display: none;
    }
    .shadow-search-icon {
        margin-left: 25px;
    }
    .select-city {
        font-size: 11px;
    }
    .offer-idea__main-title {
        font-size: 23px;
        
    }
    .see__offer-block {
        display: block;
    }
    .see__link {
        font-size: 14px;
    }
    .footer__title {
        font-size: 25px;
    }
    .footer__video-link {
        width: 290px;
        height: 200px;
    }
    .basket-small {
        margin-left: auto;
        display:block;
    }
    .basket-small, .fa-search {
        background-color:transparent;
        border:none;
        cursor: pointer;
    }
    .fa-shopping-cart, .fa-search:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
}